.nav {
  display: flex;
  justify-content: space-between;
  flex: 0 0 30%;
}

.nav__link {
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  padding: 6px;
  color: #fff;
}


@media (max-width: 720px) {
  .nav__link {
    font-size: 15px;
  }
}